# Ignore the virtual environment
myenv/

# Ignore Python cache files
__pycache__/

# Ignore sensitive environment files
.env

# Ignore logs and images
*.log
*.png

# Ignore browser profiles and temporary folders
semrush_profile/
